
  {% extends 'base.html.twig' %}

  {% block body %}

  {# Добавлен новый пост #}
  <div class="flex justify-between m-auto w-3/4 text-blue-200 shadow-inner p-3 bg-blue-600">
    <p>
      <strong>Информация:
      </strong>
      <span>Новый пост опубликован</span>
    </p>
    <strong class="text-xl align-center cursor-pointer">&times;</strong>
  </div>

  {# Header logo and name#}
  {# container - создать контейнер с центрированием по центру #}
  {# mx-auto - автоматически создавать отступы справа и слева #}
  {# p-10 отступы паддинг по 10 пихел #}
  <div class="container mx-auto p-10">
    {# flex - все дочерние элементы в одну строку #}
    {# justify-between - распределяет элементы равномерно #}
    {# items-center - выравнивание по вертикали #}
      <header class="flex justify-between items-center">
          {# flex and items-center #}
          <div class="flex items-center">
              <svg width="50" height="50" viewBox="0 0 256 257" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin meet"><circle fill="#1A171B" cx="128" cy="128.827" r="128"/><path d="M183.706 48.124c-12.986.453-24.32 7.61-32.757 17.51-9.342 10.855-15.557 23.73-20.035 36.872-8.01-6.565-14.19-15.064-27.041-18.77-9.933-2.852-20.366-1.674-29.96 5.474-4.545 3.395-7.676 8.527-9.165 13.351-3.855 12.537 4.053 23.694 7.645 27.7l7.853 8.416c1.619 1.65 5.518 5.955 3.612 12.127-2.06 6.71-10.15 11.055-18.448 8.495-3.706-1.13-9.03-3.891-7.838-7.779.493-1.59 1.631-2.78 2.241-4.155.56-1.181.827-2.067.997-2.587 1.516-4.95-.555-11.39-5.857-13.025-4.946-1.516-10.007-.315-11.969 6.054-2.225 7.235 1.237 20.366 19.783 26.084 21.729 6.676 40.11-5.155 42.717-20.586 1.642-9.665-2.722-16.845-10.717-26.08l-6.514-7.204c-3.946-3.942-5.301-10.661-1.217-15.825 3.446-4.356 8.354-6.215 16.392-4.029 11.733 3.186 16.963 11.327 25.69 17.893-3.603 11.819-5.958 23.682-8.09 34.32l-1.299 7.931c-6.238 32.721-11 50.688-23.375 61.003-2.493 1.773-6.057 4.427-11.429 4.612-2.816.087-3.726-1.85-3.765-2.694-.067-1.977 1.599-2.883 2.706-3.773 1.654-.902 4.155-2.398 3.985-7.191-.18-5.664-4.872-10.575-11.654-10.35-5.08.173-12.823 4.954-12.532 13.705.303 9.039 8.728 15.813 21.43 15.384 6.79-.233 21.952-2.997 36.895-20.76 17.392-20.362 22.256-43.705 25.915-60.79l4.084-22.556c2.269.272 4.695.453 7.334.516 21.661.457 32.496-10.763 32.657-18.924.107-4.939-3.241-9.799-7.928-9.689-3.355.095-7.57 2.328-8.582 6.968-.988 4.552 6.893 8.66.733 12.65-4.376 2.832-12.221 4.828-23.269 3.206l2.009-11.103c4.1-21.055 9.157-46.954 28.341-47.584 1.398-.071 6.514.063 6.633 3.446.035 1.13-.245 1.418-1.568 4.005-1.347 2.017-1.855 3.734-1.792 5.707.185 5.376 4.273 8.909 10.185 8.696 7.916-.256 10.193-7.963 10.063-11.921-.32-9.3-10.122-15.175-23.1-14.75z" fill="#FFF"/></svg>
          </div>
          {# text-3xl - текст размером 30 пиксел #}
          {# hidden - всё прячет #}
          {# md:block - показать елемент на екранах md или больше #}
          <div class="text-3xl hidden md:block">
              Блог о Symfony
          </div>
          <div>
            
            {# форма поиска #}
            <div class="ml-4">
              <label>
                <input class="placeholder:italic placeholder:text-slate-400 bg-white w-full border-slate-300 rounded-md py-2 pl-9 pr-3 sm:text-sm" placeholder="Search for posts ..." type="text" name="search"/>
              </label>
              <ul class="bg-white border border-gray-100 mt-2 absolute">
                <li class="pl-8 pr-2 py-1 border-b-2 border-gray-100 relative hover:bg-yellow-50 hover:text-gray-900">
                  <a href="{{ path('post_id', {id:1}) }}">Post title</a>
                </li>
                <li class="pl-8 pr-2 py-1 border-b-2 border-gray-100 relative hover:bg-yellow-50 hover:text-gray-900">
                  <a href="{{ path('post_id', {id:1}) }}">Post title</a>
                </li>
              </ul>
            </div>

          </div>

          {# hamburger icon #}
          {# space-y-2 - оттступ по вертикали #}
          {# cursor-pointer - курсор как кликабельный #}
          {# md:hidden - спратать на больших экранах #}
          {# w-8 - ширина полосы в единицах измерения #}
          {# h-0.5 - высота #}
          {# bg-gray-600 - серый цвет средней насыщенности #}
          <div id="hamburger-icon" class="space-y-2 cursor-pointer md:hidden">
              <div class="w-8 h-0.5 bg-gray-600"></div>
              <div class="w-8 h-0.5 bg-gray-600"></div>
              <div class="w-8 h-0.5 bg-gray-600"></div>
          </div>

          {# links #}
          {# hidden - спрятать блок #}
          {# md:flex - на экранах меньше чем md #}
          {# space-x-6 - добавить отступы между элементами #}
          {# text-lg - сделать текст большим относительно текста по умолчанию #}
          <div class="hidden md:flex space-x-6 text-lg">
              {# При наведении меняется цвет #}
              <a  class="hover:text-stone-500 px-4" href="/">Привет Alex</a>
              <a href="{{path('add_post',{id:1})}}"  
                 class="inline       {# строчный контейнер#}
                        font-bold 
                        text-sm      {#Размер текста#}
                        px-6         {#педдинг х#}
                        py-2         {#педдинг у#}
                        text-white 
                        rounded-full {#круглые углы#}
                        bg-red-500 
                        hover:bg-red-600"
              >Новый пост</a>
              <form method="POST" action="/">
                {# class="tracking-widest - межсимвольный интервал #}
                <button type="submit" class="tracking-widest hover:text-stone-500">
                  Выход
                </button>
              </form>
              <a class="tracking-widest hover:text-stone-500" href="/">Вход</a>
              <a class="tracking-widest hover:text-stone-500" href="/">Регистрация</a>
          </div>
      </header>


      {# mobile menu #}
      {# md:hidden - спрятать меню на екранах md или больше #}
      <div class="md:hidden">
        {# flex-col items-center - выравнивание по горизонтали и вертикали #}
        {# py-8 mt-10 space-y-6 bg-white left-6 right-6 drop-shadow-lg - различные стили для контента#}
        {# hidden - вернуть в div #}
        <div id="mobile-menu" class="hidden flex-col items-center py-8 mt-10 space-y-6 bg-white left-6 right-6 drop-shadow-lg">
          <p>Logged as:
            <a class="hover:text-stone-500" href="/">John Doe</a>
          </p>
          <form method="POST" action="/">
            <button type="submit" class="tracking-widest hover:text-stone-500">
              Logout
            </button>
          </form>
          <a href="{{ path('add_post',{id:1}) }}" class="inline font-bold text-sm px-6 py-2 text-white rounded-full bg-red-500 hover:bg-red-600">
            New blog post</a>
          <a class="tracking-widest hover:text-stone-500" href="/">Login</a>
          <a class="tracking-widest hover:text-stone-500" href="/">Register</a>
        </div>
      </div>
  </div>

      {# latest posts #}
      <div class="my-14 px-6">
        <h1 class="text-6xl tracking-tighter font-bold mb-6">Последний пост
        </h1>
        <p class="mb-8 text-gray-500">Блог на Symfony и Tailwind CSS
        </p>
        <hr/>
      </div>

      {# posts #}
      <div class="my-14 flex flex-col md:flex-row px-6">
        <p class="mb-8 text-gray-500 mr-20">12/03/2024</p>
        <div class="space-y-4">
          <h1 class="text-3xl font-bold tracking-tighter">Название поста</h1>
          <p class="text-gray-500">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis laudantium
                        similique excepturi quisquam. Nam vitae voluptatem consequatur architecto error quam!</p>
          <p>
            {# ссылка на конкретную статью #}
            <a class="text-red-500 hover:text-red-900 mt-8" href="{{path('vievBlog')}}">Читать дальше</a>
          </p>
          
          {# Карандаш редактирования поста под последним постом #}
          <div class="flex">
            {# путь edit_post #}
            <a href="{{ path('edit_post', {id:1}) }}" title="edit" class="mr-2 cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                </svg>
            </a>

            <form method="POST" action="/">
                <button type="submit" href="/"
                    onclick="return confirm('Are you sure?')" title="delete" class="cursor-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                    </svg>
                </button>
            </form>

        </div>
        </div>
      </div>
      <hr/>


  {# <h1 class="text-5xl font-bold underline">
    Приветствую на стартовой странице блога. Вы можете сделать:
  </h1>

  <h2>
    <ul>
      <li class="font-bold underline"><a href="{{path('all_news')}}">Показать список всех постов.</a></li>
      <li class="underline"><a href="{{path('user_id',{'id':1})}}">Показать список всех постов пользователя {'id':1}.</a></li>
      <li class="font-bold underline"><a href="{{path('add_post',{'id':1})}}">Добавить пост {'id':1}.</a></li>
      <li class="underline"><a href="{{path('edit_post',{'id':1})}}">Редактировать пост {'id':1}.</a></li>
      <li class="font-bold underline"><a href="{{path('post_id',{'id':1})}}">Показать пост  {'id':1}.</a></li>
      <li class="underline"><a href="{{path('toogleFollowStatus_id',{'id':1})}}">Отслеживаем автора {'id':1}.</a></li>
      <li class="font-bold underline"><a href="{{path('delete_id',{'id':1})}}">Удалить пост {'id':1}.</a></li>
    </ul>
  </h2> #}

  {# footer #}
  <footer class="flex items-center justify-center mt-12">
    &copy; 2024 Блог на Symfony
  </footer>

  {% endblock %}

